<!--
  Template della lista delle task.
  Mostra il conteggio delle task completate e la lista delle task tramite il componente app-task-item.
-->
<p>
  <strong>Completate:</strong>
  {{ completedCount() }} / {{ tasks().length }}
</p>

<button type="button" (click)="openAddModal()" class="add-task-btn">Aggiungi Task</button>

@if (showAddModal()) {
  <app-add-task-modal
    [open]="showAddModal()"
    (taskAdded)="addTask($event)"
    (close)="closeAddModal()"
  ></app-add-task-modal>
}

<!-- Lista delle task -->
<div class="task-list">
  @for (task of tasks(); track task.id) {
    <app-task-item
      [task]="task"
      (toggle)="toggleTask(task.id)">
    </app-task-item>
  }
</div>