
body, app-root {
	background: #181818;
	color: #fff;
	font-family: 'Orbitron', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
	// border: 2px solid var(--fluo-green);
  // border-radius: 100px 10px;
  // box-shadow: 0 0 16px var(--fluo-green);
  padding: 24px 32px;
  max-width: 600px;
  width: 90%;
}

.app-title {
	font-family: 'VT323', 'Share Tech Mono', monospace;
	font-size: 2.2rem;
	color: var(--fluo-green);
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 18px;
	text-shadow: 0 0 8px var(--fluo-green);
}

.app-footer {
	font-family: 'VT323', 'Share Tech Mono', monospace;
	color: var(--fluo-pink);
	text-align: center;
	margin-top: 24px;
	font-size: 1.1rem;
}

.app-footer a {
	color: var(--fluo-green);
	text-decoration: underline;
}

